.filter-checkbox{
  background-color: #dcdfdf;
  border-radius: 1.2rem;
}

.chord-chart{
  margin-top: -5rem;
  /* margin-right: 20rem; */
}

.dropdown-label{
  margin-left: 0.8rem;
}

.App{
  height: 100vh;
}

.main-title-vis{
  padding-left: 600px;
  padding-top: 50px;
}

.tabs-div{
  padding-top: 20px;
  padding-left: 600px;
}

.css-1a4cg4j-MuiButtonBase-root-MuiTab-root{
  font-size: 30px !important;
}

.main-chord-chart{
  padding-left: 600px;
}