svg .state:hover {
    stroke: rgb(199, 192, 192);
    stroke-width: 0.4rem;
    cursor: pointer;
  }

  .hoverText {
    position: absolute;
    display: none;
    min-width: 80px;
    height: auto;
    background: none repeat scroll 0 0 #f9f3f3;
    border: 2px solid #d6b9a0f2;
    padding: 14px;
    text-align: start;
    font-size: x-large;
    border-radius: 15px;
    padding: 10px;
  }
  
  .geo-main{
    padding-left: 600px;
  }

  .geo-title{
    font-size: 40px;
    padding-top: 80px;
  }

  .img-legend{
    border: 0px !important
  }
  
  #root {
    height: 100vh;
    margin-right: 40rem;
  }
