.drop-down{
    margin-right: 1000px !important;
    /* margin-right: 500px !important; */
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.chord-title{
    font-size: xx-large;
    margin-top: 70px;
}